.message_alert {
    display: none;
    flex-direction: column;
    width: 25vw;
    background-color: #b9ffb3;
    margin-top: 1vw;
    position: absolute;
    top: 1vw; /* Відступ зверху */
    right: 1vw; /* Відступ справа */
    border: 0.1vw solid black;
    border-radius: 15px;
    padding-top: 0.5vw;
    overflow: hidden;
}
.message_alert h3{
    font-size: 1.3vw ;
    text-align: center;
    margin: 0;
}
.message_alert_message{
    display: flex;
    height: 60%;
    margin: 0.5vw;
    font-size: 1vw;
    color: black;
    align-items: center;
    flex-direction: row;
}
.msg-icon{
    width: 3vw;
    height: 3vw;
}
.message_alert_message p{
    margin-left: 1vw;
}
.alert-status-success {
    display: flex;
    background-color: #b9ffb3;
}
.alert-status-success .alert-progress-bar{
    background-color: #12f000;
}

.alert-status-info {
    display: flex;
    background-color: #ffffff;
}
.alert-status-info .alert-progress-bar{
    background-color: #000000;
}

.alert-status-error {
    display: flex;
    background-color: #ffbdbd;
}
.alert-status-error .alert-progress-bar{
    background-color: rgba(203, 0, 0, 0.7);
}

.alert-progress-bar {
    width: 100%;
    height: 1vh;
    background: rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.alert-progress-bar::after {
    content: "";
    position: absolute;
    width: 0%; /* Початкове значення */
    height: 100%;
    background: #00a0d2;
    transition: width 3s linear; /* Плавне заповнення */
}


